<div class="toast-wrapper {{ toast?.type }} {{ position }}" [ngClass]="{'exit-left': isFinished && position === 'left', 'exit-right': isFinished && position === 'right'}">
  <div class="content">
    <div class="message">{{ toast?.message }}</div>
    <button (click)="close()">{{ toast?.button }}</button>
  </div>
  <div class="progress-bar">
    <div class="bar" [ngStyle]="{'width': width + '%'}"></div>
  </div>
</div>