.loader-wrapper {
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(253, 253, 253, 0.85);

  .message {
    font-weight: 500;
    color: #343434;
  }
}
