$primary-color: #557a95;
$secondary-color: #7395ae;

$lightgrey-color: #cccccc;
$grey-color: #aaaaaa;
$darkgrey-color: #343434;

$background-color: #f2f2f2;

$white: #ffffff;
$black: #000000;

$fail-color: #d04545;
$success-color: #50b553;
$warning-color: #f19b69;
$info-color: #3498db;
