.tooltip-custom-success {
  background-color: $success-color;
  font-size: 14px;
}

.tooltip-custom-info {
  background-color: $primary-color;
  font-size: 14px;
}

.tooltip-custom-warning {
  background-color: $warning-color;
  font-size: 14px;
}

.tooltip-custom-fail {
  background-color: $fail-color;
  font-size: 14px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
