* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font: 400 14px/20px "Poppins", sans-serif;
  height: 100%;
  width: 100%;
}

h1 {
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

h1,
h2,
h3 {
  font-family: "Baloo 2", cursive;
  font-weight: bold;
}

input,
textarea {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
  outline: none;
  cursor: pointer;
  border: none;
}
