$md-application: (
  50: #ebeff2,
  100: #ccd7df,
  200: #aabdca,
  300: #88a2b5,
  400: #6f8ea5,
  500: #557a95,
  600: #4e728d,
  700: #446782,
  800: #3b5d78,
  900: #2a4a67,
  A100: #aed7ff,
  A200: #7bbeff,
  A400: #48a5ff,
  A700: #2f99ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-success: (
  50: #eaf6ea,
  100: #cbe9cb,
  200: #a8daa9,
  300: #85cb87,
  400: #6ac06d,
  500: #50b553,
  600: #49ae4c,
  700: #40a542,
  800: #379d39,
  900: #278d29,
  A100: #cfffcf,
  A200: #9cff9d,
  A400: #69ff6b,
  A700: #4fff52,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-warning: (
  50: #f9e9e9,
  100: #f1c7c7,
  200: #e8a2a2,
  300: #de7d7d,
  400: #d76161,
  500: #d04545,
  600: #cb3e3e,
  700: #c43636,
  800: #be2e2e,
  900: #b31f1f,
  A100: #ffebeb,
  A200: #ffb8b8,
  A400: #ff8585,
  A700: #ff6c6c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-v1-primary: mat-palette($md-application);
$app-v1-accent: mat-palette($md-success);

// The warn palette is optional (defaults to red).
$app-v1-warn: mat-palette($md-warning);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-v1-theme: mat-light-theme((
  color: (
    primary: $app-v1-primary,
    accent: $app-v1-accent,
    warn: $app-v1-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-v1-theme);
