@import "styles";

:host {
  display: flex;
}

.item {
  display: flex;
  flex-direction: row;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

@media (min-width: 1201px) {
  .item {
    margin: 0 5px;
    transition: all 0.6s;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    i {
      margin-right: 10px;
      font-size: 1.2em;
    }
    .title {
      font-size: 1.2em;
    }
    .logo {
      display: flex;
      align-items: center;
      img {
        height: 40px;
      }
    }
    &:hover {
      background-color: #ffffff;
      color: $primary-color;
      border-radius: 2px;
      box-shadow: 0 0 3px #666666;
    }
  }
}
