<div class="item" *ngFor="let item of getontent(); let i=index" (click)="navigateTo(item.link)">

  <ng-container *ngIf="item.isLogo; else else3SectionsTemplateStart">
    <div class="logo"><img src="assets/images/logo.png" [alt]="item.value"></div>
  </ng-container>
  <ng-template #else3SectionsTemplateStart>
    <i *ngIf="item.icon !== undefined && item.icon.isEnabled" [class]="item.icon.value"></i>
    <div class="title">{{ item.value }}</div>
  </ng-template>

</div>
