<nav *ngIf="navigation" [ngStyle]="{'grid-template-columns': navigation.getGridTemplate()}">
  <!-- TEMPALTE 1-1-1 -->
  <ng-container *ngIf="navigation.template === '1-1-1'">
    <div class="start" [ngStyle]="{'justify-content': navigation.getContentPosition(3, 'start')}">
      <app-h-navigation-items [navigation]="navigation" [sectionsNumber]="3" position="start"></app-h-navigation-items>
    </div>

    <div class="center" [ngStyle]="{'justify-content': navigation.getContentPosition(3, 'center')}">
      <app-h-navigation-items [navigation]="navigation" [sectionsNumber]="3" position="center"></app-h-navigation-items>
    </div>

    <div class="end" [ngStyle]="{'justify-content': navigation.getContentPosition(3, 'end')}">
      <app-h-navigation-items [navigation]="navigation" [sectionsNumber]="3" position="end"></app-h-navigation-items>
    </div>
  </ng-container>

  <!-- TEMPALTE 2-1 -->
  <ng-container *ngIf="navigation.template === '2-1'">
    <div class="start" [ngStyle]="{'justify-content': navigation.getContentPosition(2, 'start')}">
      <app-h-navigation-items [navigation]="navigation" [sectionsNumber]="2" position="start"></app-h-navigation-items>
    </div>

    <div class="end" [ngStyle]="{'justify-content': navigation.getContentPosition(2, 'end')}">
      <app-h-navigation-items [navigation]="navigation" [sectionsNumber]="2" position="end"></app-h-navigation-items>
    </div>
  </ng-container>

  <!-- TEMPALTE 1-2 -->
  <ng-container *ngIf="navigation.template === '1-2'">
    <div class="start" [ngStyle]="{'justify-content': navigation.getContentPosition(2, 'start')}">
      <app-h-navigation-items [navigation]="navigation" [sectionsNumber]="2" position="start"></app-h-navigation-items>
    </div>

    <div class="end" [ngStyle]="{'justify-content': navigation.getContentPosition(2, 'end')}">
      <app-h-navigation-items [navigation]="navigation" [sectionsNumber]="2" position="end"></app-h-navigation-items>
    </div>
  </ng-container>

  <!-- TEMPALTE 1 -->
  <ng-container *ngIf="navigation.template === '1'">
    <div class="full" [ngStyle]="{'justify-content': navigation.getContentPosition(1)}">
      <app-h-navigation-items [navigation]="navigation" [sectionsNumber]="1"></app-h-navigation-items>
    </div>
  </ng-container>
</nav>
