@import "styles";

nav {
  display: grid;
  background-color: $primary-color;
  color: $white;
  padding: 10px;
  box-shadow: 0 0 3px #bbbbbb;
  font-family: "Baloo 2", cursive;

  .start, .center, .end {
    display: flex;

    .item {
      display: flex;
      flex-direction: row;
      outline: none;
      cursor: pointer;
      font-weight: 600;
    }
  }
}


@media (min-width: 1201px) {
  nav {
    align-items: center;
    .logo {
      img {
        height: 30px;
      }
      .bar {
        display: none;
      }
    }
    .start, .center, .end {
      display: flex;
      flex-direction: row;

      .item {
        padding: 8px 12px;
        margin: 0 5px;
        transition: all 0.6s;
        align-items: center;
        font-size: 18px;
        cursor: pointer;
        font-weight: 600;
        i {
          margin-right: 10px;
          font-size: 1.2em;
        }
        .title {
          font-size: 1.2em;
        }
        &:hover {
          background-color: #ffffff;
          color: $primary-color;
          border-radius: 2px;
          box-shadow: 0 0 3px #666666;
        }
      }
    }
  }
}
